{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'blog/layout.css' %}" type="text/css">
</head>
<body>
    <div class="pg-header">
        <div class="log left">Just fly</div>
        <div class="hl-menu left">
            <a class="item" href="#">Menu 1</a>
            <a class="item" href="#">Menu 2</a>
            <a class="item" href="#">Menu 3</a>
            <div class="item-set">
                <a class="item" href="#">Menu 4</a>
                <div class="sets">
                    <a href="#">Menu 4-1</a>
                    <a href="#">Menu 4-2</a>
                    <a href="#">Menu 4-3</a>
                </div>
            </div>
        </div>
        <div class="hr-menu right">
            <a class="item" href="#">Message X</a>
            <a class="item" href="#">Message Y</a>
            <a class="item" href="#">Message Z</a>
            <div class="avatar right">
                <a class="item" href="#">
                    <img class="avatar-img" src="{% static 'web/avatars/default-avatar.jpg' %}" alt="" height="40" width="40">
                </a>
                <div class="sets">
                    <a href="#">Menu 4-1</a>
                    <a href="#">Menu 4-2</a>
                    <a href="#">Menu 4-3</a>
                </div>
            </div>
        </div>
    </div>
    <div class="pg-body">
        <div class="menus">
            <a href="#">Function 1</a>
            <a href="#">Function 2</a>
            <a href="#">Function 3</a>
            <a href="#">Function 4</a>
        </div>
        <div class="contents">
        <div style="height: 2000px"></div>
            {% block contents %}{% endblock %}
        </div>
    </div>
    <div class="pg-footer"></div>
    {% block js %}{% endblock %}
</body>
</html>