{% extends "web/index.html" %}

{% block style %}
    <style>
        .main-body {
            margin-left: 20%;
            margin-right: 20%;
        }
        .hello-word {
            color: black;
            font-size: 40px;
            font-family: "Microsoft YaHei UI", serif;
        }
    </style>
{% endblock %}


{% block mainbody %}
    <div class="main-body">
        <div class="hello-word">Hello {{ user.nickname }}</div>
        <div class="main-article">
            {% for a in articles %}
                <a href="{{ a.id }}">{{ a.title }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}