{% extends "web/bases/index.html" %}

{% block mainbody %}
    <div class="container">
        <form action="/web/join/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>{{ form.username.label }}</label>
                {{ form.username }}
                <small class="form-text text-muted">Username can just contains integer or letter or _</small>
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                <label>{{ form.image.label }}</label>
            </div>
            <div class="custom-file">
                {{ form.image }}
                <label class="custom-file-label" for="customFile">Choose an avatar</label>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">{{ form.email.label }}</label>
                {{ form.email }}
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">{{ form.password.label }}</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="container">
        <h3>文件上传</h3>
        <iframe style="display: none;" id="iframe" name="ifra"></iframe>
        <form id="fm" action="/web/upload_image/" method="POST" enctype="multipart/form-data" target="ifra">
            {% csrf_token %}
            <input type="file" name="img" onchange="uploadFiles();" />
        </form>

        <h3>预览</h3>
        <div id="preview"></div>
    </div>
<script>
    function uploadFiles() {
        // 绑定onload属性
        document.getElementById('iframe').onload = reloadIframe;
        // 提交
        document.getElementById('fm').submit();
    }

    function reloadIframe() {
        var content = this.contentWindow.document.body.innerHTML;
        var obj = JSON.parse(content);
        // 创建img标签
        var tag = document.createElement('img');
        tag.src = obj.data;
        tag.className = 'img-thumbnail';
        // 注意需先清空再添加，否则会导致div标签中出现多个img标签，使得上传与预览不一致
        $('#preview').empty().append(tag);
    }
</script>
{% endblock %}
